---
import { Markdown } from 'astro-remote';
import { Vibrant } from 'node-vibrant/node';
import sharp from 'sharp';
import { cn } from '@/lib/utils';

const { name, description, avatar, url, className } = Astro.props;

let p: { Vibrant?: { hex?: string; bodyTextColor?: string } } | undefined;
try {
  const response = await fetch(avatar);

  const arrayBuffer = await response.arrayBuffer();
  const buffer = Buffer.from(arrayBuffer);

  p = await Vibrant.from(await sharp(buffer).toFormat('png').toBuffer()).getPalette();
} catch (e) {
  console.warn('Error fetching vibrant palette:', (e as Error).message);
  p = {
    Vibrant: {
      hex: 'var(--color-foreground)',
      bodyTextColor: 'var(--color-background)',
    },
  };
}

const color = p?.Vibrant?.hex || 'var(--color-foreground)';
const foregroundColor = p?.Vibrant?.bodyTextColor || 'var(--color-background)';
---

<a
  class={cn('relative group block max-w-72 *:transition-all *:duration-500 border-2 rounded', className)}
  href={url}
  style={`
    --vibrant-color: ${color};
    --vibrant-foreground: ${foregroundColor};
    border-color: ${color};
  `}
>
  <img src={avatar} alt={name} class="min-w-64" />
  <div
    class={'flex flex-col justify-end p-2 absolute size-full top-0 left-0 z-10 overflow-hidden transition-all'
      + ' duration-500'
      + ' group-hover:bg-(--vibrant-color)'}
  >
    <div class="translate-y-full">
      <div
        class={'flex flex-col justify-end gap-2 text-(--vibrant-color)'
          + ' group-hover:text-(--vibrant-foreground) transition-all *:transition-all z-10'
          + ' group-hover:-translate-y-full *:duration-500 duration-500'}
      >
        <p class={'text-3xl -translate-y-full group-hover:translate-y-0 group-hover:text-xl'
          + ' group-hover:text-ellipsis group-hover:overflow-hidden font-serif'}
        >
          {name}
        </p>
        <div class="grow overflow-hidden max-h-24 line-clamp-3">
          <Markdown content={description} />
        </div>
        <p class="font-mono">{url}</p>
      </div>
    </div>
  </div>
</a>
