---
import Logo from "./Logo.astro";
import LanguageSwitcher from "./LanguageSwitcher.tsx";
import { loadTranslations } from "@/i18n";
import { getRelativeLocaleUrl } from "astro:i18n";
import { Button } from "./ui/button";
import { MenuIcon, X } from "lucide-react";
import { ColorModeToggle } from "./ColorModeToggle";

const t = await loadTranslations(Astro.currentLocale);
const locales = Astro.props.locales || ["en", "zh-cn", "zh-tw"];
---

<div class="h-17"></div>

<header class="fixed top-0 left-0 w-full z-50">
    <div
        class="flex justify-between items-center p-4 w-full text-contrast transition-colors"
        id="nav"
    >
        <Logo />

        <Button
            variant="ghost"
            id="menu-toggle"
            className="lg:hidden p-2"
            aria-label="Toggle menu"
        >
            <MenuIcon />
        </Button>

        <nav class="lg:flex hidden flex-row gap-4 items-center">
            <a href={`/${Astro.currentLocale}#about`}>{t("nav.about")}</a>
            <a href={`/${Astro.currentLocale}#portfolio`}
                >{t("nav.portfolio")}</a
            >
            <a href={getRelativeLocaleUrl(Astro.currentLocale || "en", "blog")}
                >{t("nav.blog")}</a
            >
            <a href={"https://pad.qnury.es"}>{t("nav.notes")} </a>
            <a href={getRelativeLocaleUrl(Astro.currentLocale || "en", "links")}
                >{t("nav.links")}</a
            >
            <ColorModeToggle
                t={{
                    label: t("nav.appearance.label"),
                    light: t("nav.appearance.light"),
                    dark: t("nav.appearance.dark"),
                    system: t("nav.appearance.system"),
                    toggle: t("nav.appearance.toggle"),
                }}
                client:load
            />
            <LanguageSwitcher
                locales={locales}
                currentLocale={Astro.currentLocale || "en"}
                client:load
            />
        </nav>
    </div>

    <div
        id="mobile-menu"
        class={"fixed top-0 right-0 w-full h-full bg-background flex flex-col items-center justify-center gap-y-6" +
            " transform translate-x-full transition-transform duration-300 lg:hidden shadow-lg"}
    >
        <Button
            variant="ghost"
            id="menu-close"
            className="absolute top-4 right-6 p-2"
            aria-label="Close menu"
        >
            <X />
        </Button>
        <a href={`/${Astro.currentLocale}#about`} class="text-xl"
            >{t("nav.about")}
        </a>
        <a href={`/${Astro.currentLocale}#portfolio`} class="text-xl"
            >{t("nav.portfolio")}
        </a>
        <a
            href={getRelativeLocaleUrl(Astro.currentLocale || "en", "blog")}
            class="text-xl"
            >{t("nav.blog")}
        </a>
        <a href={"https://notes.qnury.es"} class="text-xl">{t("nav.notes")} </a>
        <a
            href={getRelativeLocaleUrl(Astro.currentLocale || "en", "links")}
            class="text-xl"
            >{t("nav.links")}
        </a>
        <ColorModeToggle
            t={{
                label: t("nav.appearance.label"),
                light: t("nav.appearance.light"),
                dark: t("nav.appearance.dark"),
                system: t("nav.appearance.system"),
                toggle: t("nav.appearance.toggle"),
            }}
            client:load
        />
        <LanguageSwitcher
            locales={locales}
            currentLocale={Astro.currentLocale || "en"}
            client:load
        />
    </div>
</header>

<script>
    document.getElementById("menu-toggle")?.addEventListener("click", () => {
        document
            .getElementById("mobile-menu")
            ?.classList.toggle("translate-x-full");
    });

    document.getElementById("menu-close")?.addEventListener("click", () => {
        document
            .getElementById("mobile-menu")
            ?.classList.toggle("translate-x-full");
    });

    document.querySelectorAll("#mobile-menu>a").forEach((anchor) => {
        anchor.addEventListener("click", function () {
            document
                .getElementById("mobile-menu")
                ?.classList.toggle("translate-x-full");
        });
    });
</script>
