---
import { cn } from '../lib/utils';
const { name, description, avatar, url, className } = Astro.props;
---

<a
  class={cn('relative group block max-w-72', className)}
  href={url}
>
  <img src={avatar} alt={name} />
  <div
    class={'transition-opacity duration-500 opacity-0 absolute top-0 left-0 size-full bg-gradient-to-b'
      + ' from-transparent to-neutral-500 from-60% group-hover:opacity-50'}
  >
  </div>
  <div
    class="flex flex-col justify-end p-2 absolute size-full top-0 left-0 z-10 overflow-hidden mix-blend-difference"
  >
    <div class="translate-y-full">
      <div class={'flex flex-col justify-end gap-2 text-white transition-all *:transition-all z-10 -translate-y-8'
        + ' group-hover:-translate-y-full *:duration-500 duration-500'}
      >
        <h1 class="text-3xl group-hover:text-xl text-nowrap text-ellipsis overflow-hidden font-serif">
          {name}
        </h1>
        <p>{description}</p>
        <p class="font-mono">{url}</p>
      </div>
    </div>
  </div>
</a>
