---
import { getCollection, render } from 'astro:content';
import Base from '@/layouts/Base.astro';
import { locales } from '@/i18n';
import Section from '@/components/Comment/Section';
import { type GetStaticPathsResult } from 'astro';
import type { CollectionEntry } from 'astro:content';
import { formatDate } from '@/lib/utils';
import { CopyrightIcon } from 'lucide-react';
import { Image } from 'astro:assets';

export async function getStaticPaths(): Promise<GetStaticPathsResult> {
  const pages = await getCollection('blog');

  return pages.map((page) => {
    const [locale, ...slugParts] = page.id.split('/');
    const slug = slugParts.join('/') || undefined;

    const translations: { [key: string]: string } = {};
    if (page.data.translation_id) {
      Object.keys(locales).forEach((loc) => {
        translations[loc] = `/blog/${page.data.translation_id}`;
      });
    }

    return {
      params: { locale, slug },
      props: { page, translations },
    };
  });
}

const { locale } = Astro.params as { locale: string };
const { page } = Astro.props as { page: CollectionEntry<'blog'>, translations: { [key: string]: string } };
const formattedDate = formatDate(page.data.created_at.toLocaleString(), locale);
const { Content } = await render(page);
---

<div class="absolute left-0 top-0 ">
  <Image
    src={page.data.cover}
    alt=""
    height={1080}
    width={1920}
    class="h-screen w-screen -z-10 object-cover"
  />

  <div
    class={'absolute top-0 left-0 right-0 bottom-0 transition-opacity transform duration-1000 ease-in'
      + ' bg-gradient-to-b from-transparent to-black opacity-70'}
    id="mask"
  >
  </div>
</div>

<Base className="mt-[100vh]">
  <article class="max-w-3xl mx-auto px-4 py-8">
    <header
      id="header"
      class={'mb-8 transition-all transform duration-1000 ease-in'
        + '*:transition-all *:transform *:duration-400 *:ease-in'
        + '-translate-y-[calc(100%+124px)] -translate-x-[calc(50vw-24rem)] w-[calc(100vw-4rem)] text-stone-500'
        + 'mix-blend-difference'}
    >
      <div class="flex flex-row gap-16 text-sm font-mono" id="meta-data">
        <time datetime={page.data.created_at.toISOString()} class="inline-block">
          {formattedDate}
        </time>
        <span class="inline-block">
          {`~ ${page.data.estimated} min`}
        </span>
        {page.data.tags && (
          <div class="flex flex-wrap gap-2">
            {page.data.tags.map((tag: string) => (
              <a href={`/${locale}/blog/tag/${tag}`}>
                {`#${tag}`}
              </a>
            ))}
          </div>
        )}
      </div>

      <h1 class="text-6xl font-serif font-black leading-tight my-6" id="title">{page.data.title}</h1>
      <div class="font-serif text-2xl leading-relaxed mb-8" id="description">
        <p>{page.data.description}</p>
      </div>
    </header>

    <div class="prose max-w-none mb-12 space-y-4">
      <Content />
    </div>

    <footer class="mt-12 pt-4 flex justify-center">
      <div class="text-sm">
        <a
          href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
          target="_blank"
          rel="noopener"
          class="no-underline text-gray-800 hover:text-gray-600 flex gap-1 items-center justify-center"
        >
          <CopyrightIcon strokeWidth={1} size={20} className="inline" />
          <span>BY-NC-SA</span>
        </a>
      </div>
    </footer>

    <hr class="border-t border-gray-200 my-12" />
    <Section client:load postId={page.data.translation_id || page.id} locale={locale} />
  </article>
</Base>

<script>
  const handleScroll = (): undefined => {
    if (window.scrollY > 256) {
      document.querySelector('#header')?.classList.remove(
        '-translate-y-[calc(100%+124px)]',
        '-translate-x-[calc(50vw-24rem)]',
        'text-stone-500', 'mix-blend-difference',
      );
      document.querySelector('#header')?.classList.replace(
        'w-[calc(100vw-4rem)]',
        'w-full',
      );
      document.querySelector('#nav')?.classList.remove(
        'text-stone-500', 'mix-blend-difference',
      );
      document.querySelector('#title')?.classList.replace(
        'text-6xl', 'text-3xl',
      );
      document.querySelector('#description')?.classList.replace(
        'text-2xl', 'text-lg',
      );
      document.querySelector('#mask')?.classList.replace(
        'opacity-70', 'opacity-0',
      )
    } else {
      document.querySelector('#nav')?.classList.add(
        'text-stone-500', 'mix-blend-difference',
      );
      document.querySelector('#header')?.classList.add(
        '-translate-y-[calc(100%+124px)]',
        '-translate-x-[calc(50vw-24rem)]',
        'text-stone-500', 'mix-blend-difference',
      );
      document.querySelector('#header')?.classList.replace(
        'w-full',
        'w-[calc(100vw-4rem)]',
      );
      document.querySelector('#title')?.classList.replace(
        'text-3xl', 'text-6xl',
      );
      document.querySelector('#description')?.classList.replace(
        'text-lg', 'text-2xl',
      );
      document.querySelector('#mask')?.classList.replace(
        'opacity-0', 'opacity-70',
      )
    }
  };

  handleScroll(); // Initial call
  window.addEventListener('scroll', handleScroll);

  function setupImageScrollContainers(): undefined {
    const contentDiv = document.querySelector('.prose');
    if (!contentDiv) {
      return;
    }

    let consecutiveImages: Element[] = [];
    const elements = Array.from(contentDiv.children);

    elements.forEach((element, index) => {
      const el = element.firstElementChild;
      if (!el) {
        return;
      }
      const isImageElement = el.tagName === 'IMG'
        || (el.tagName === 'FIGURE' && el.querySelector('img'))
        || (el.tagName === 'P' && el.querySelector('img') && el.children.length === 1);

      if (isImageElement) {
        consecutiveImages.push(el);

        if (index === elements.length - 1
          || !(elements[index + 1].tagName === 'IMG'
            || (elements[index + 1].tagName === 'FIGURE'
              && elements[index + 1].querySelector('img'))
            || (elements[index + 1].tagName === 'P'
              && elements[index + 1].querySelector('img')
              && elements[index + 1].children.length === 1))) {
          if (consecutiveImages.length > 1) {
            const innerContainer = document.createElement('div');
            innerContainer.className = `absolute -left-[calc(50vw-24rem)] translate-x-[5vw]
           flex flex-row gap-2 overflow-x-auto
           *:h-84 my-4 w-[90vw] *:mx-auto *:rounded
           snap-x snap-mandatory *:snap-center scroll-smooth relative`

            consecutiveImages.forEach((img) => {
              const imgClone = img.cloneNode(true);
              innerContainer.appendChild(imgClone);
              img.parentElement?.remove();
            });

            const container = document.createElement('div');
            container.className = `relative overflow-visible`

            container.appendChild(innerContainer);

            contentDiv.insertBefore(container, elements[index + 1] || null);
          }

          consecutiveImages = [];
        }
      } else {
        consecutiveImages = [];
      }
    });
  }

  document.addEventListener('DOMContentLoaded', setupImageScrollContainers);
</script>
