---
import { getCollection, render } from 'astro:content';
import Base from '@/layouts/Base.astro';
import { locales } from '@/i18n';
import Section from '../../../components/Comment/Section';
import '@/styles/post.css';
import { type GetStaticPathsResult } from 'astro';
import type { CollectionEntry } from 'astro:content';

export async function getStaticPaths(): Promise<GetStaticPathsResult> {
  const pages = await getCollection('blog');

  return pages.map((page) => {
    const [locale, ...slugParts] = page.id.split('/');
    const slug = slugParts.join('/') || undefined;

    const translations: { [key: string]: string } = {};
    if (page.data.translation_id) {
      Object.keys(locales).forEach((loc) => {
        translations[loc] = `/blog/${page.data.translation_id}`;
      });
    }

    return {
      params: { locale, slug },
      props: { page, translations },
    };
  });
}

const { locale } = Astro.params as { locale: string };
const { page } = Astro.props as { page: CollectionEntry<'blog'>, translations: { [key: string]: string } };
const formattedDate = page.data.created_at.toLocaleString(locale);
const { Content } = await render(page);
---

<Base>
  <article class="blog-post">
    <header class="post-header">
      <div class="post-meta">
        <time datetime={page.data.created_at.toISOString()}>
          {formattedDate}
        </time>
        <span class="reading-time">
          ~
          {page.data.estimated}
          {' '}
          min
        </span>
        {page.data.tags && (
          <div class="tags">
            {page.data.tags.map((tag: string) => (
              <a href={`/${locale}/blog/tag/${tag}`} class="tag">
                #
                {tag}
              </a>
            ))}
          </div>
        )}
      </div>
      <h1 class="post-title">{page.data.title}</h1>
      <div class="post-description">
        <p>
          Omnis doloribus aut omnis tempore. Nostrum et non et earum. Et ipsum dolores reprehenderit eveniet
          aspernatur officia quam et. Omnis doloribus aut omnis tempore. Nostrum et non et earum. Et ipsum
          dolores reprehenderit eveniet aspernatur officia quam et.
        </p>
      </div>
    </header>

    <div class="post-content">
      <Content />
    </div>

    <footer class="post-footer">
      <div class="license">
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="noopener">
          BY-NC-SA
        </a>
      </div>
    </footer>

    <hr class="comment-divider" />
    <Section client:load postId={page.data.translation_id || page.id} locale={locale} />
  </article>
</Base>
