---
import '@/styles/global.css';
import Nav from '@/components/Nav.astro';
import Footer from '@/components/Footer.astro';
import { cn } from '@/lib/utils';

const { title, className, description, keywords } = Astro.props;
const pageTitle = title || 'query.e\'s';
const pageDescription = description || 'Qnury.e\'s is the personal website of Qnurye';
const pageKeywords = (keywords || '').split(',').map((keyword: string) => keyword.trim())
  .concat('Qnurye, Qnury.e, Qnury, query.e, qnury, qnury.e, qnury-e, qnury_e, qnury_e_, qnurye, Astro, Next.js,'
    + ' React, Vue, Svelte, Python, Rust, Golang, C++, C#, Java, Kotlin, Dart, Flutter, WebAssembly, WebGPU, WebGL,'
    + ' OpenGL, Vulkan, DirectX, Metal, OpenCL, CUDA')
  .join(', ');
---

<!doctype html>
<html lang={Astro.currentLocale}>
  <head>

    <!--  High Priority -->
    <title>{pageTitle}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <!--  Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.cn" />
    <link rel="preconnect" href="https://fonts.gstatic.cn" crossorigin />
    <link
      href="https://fonts.googleapis.cn/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://chinese-fonts-cdn.deno.dev/packages/LxgwNeoZhiSong/dist/LXGWNeoZhiSong/result.css" />
    <link rel="stylesheet" href="https://chinese-fonts-cdn.deno.dev/packages/hcqyt/dist/ChillRoundFRegular/result.css" />
    <link rel="stylesheet" href="https://chinese-fonts-cdn.deno.dev/packages/maple-mono-cn/dist/MapleMono-CN-Regular/result.css" />

    <link
      rel="preload"
      href="https://cdn.jsdelivr.net/fontsource/fonts/maple-mono@latest/latin-400-normal.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <!--  Low Priority -->
    <meta name="author" content="Qnurye" />
    <meta name="description" content={pageDescription} />
    <meta name="keywords" content={pageKeywords} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="canonical" href="https://qnury.es" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={pageTitle} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:site_name" content={pageTitle} />

  </head>
  <body class="px-1 sm:px-2 md:px-4 lg:px-8">
    <Nav />
    <main class={cn(className, 'min-h-screen scroll-smooth max-w-full px-4 sm:px-6 md:px-12 lg:px-24')}>
      <slot />
    </main>
    <Footer />
  </body>
</html>
